<br>
<body>
<div class="add-class-container">
  <h2>Add Class</h2>

  <div class="form-group">
    <label for="validationCustom0" class="form-label">Week day</label>
    <select [(ngModel)]="DiaSemana" [ngModelOptions]="{standalone: true}" class="form-select" id="validationCustom0" required>
      <option selected disabled value="">Choose...</option>
      <option value="Segunda">Segunda</option>
      <option value="Terca">Terca</option>
      <option value="Quarta">Quarta</option>
      <option value="Quinta">Quinta</option>
      <option value="Sexta">Sexta</option>
    </select>
  </div>
  <div class="form-group">
    <label for="diaMes">Month Day</label>
    <input
      id="diaMes"
      [(ngModel)]="DiaMes"
      type="date"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="disciplina">Subject</label>
    <input
      id="disciplina"
      [(ngModel)]="Disciplina"
      type="text"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="horario">Schedule</label>
    <input
      id="horario"
      [(ngModel)]="Horario"
      type="text"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <!--<label for="IdProfessor">Professor Id</label>
    <input
      id="IdProfessor"
      [(ngModel)]="id"
      type="text"
      class="form-control"
    />-->
    <button class="btn edit-btn" (click)="onAddTeacher()">Choose Teacher</button>
  </div>

  <section *ngIf="isEditing" class="edit-class-section">
    <h2>Edit Class: {{ selectedClass?.Disciplina }}</h2>
    <p>Select a professor for this class:</p>
    <ul>
      <li *ngFor="let teacher of teachers">
        {{ teacher.PrimeiroNome }} {{teacher.SegundoNome}} ({{ teacher.Subject }})
        <button class="btn select-btn" (click)="onSelectTeacher(teacher)">Select</button>
      </li>
    </ul>

    <div *ngIf="selectedTeacher" class="selected-teacher">
      <p>Selected Teacher: {{ selectedTeacher.PrimeiroNome }}</p>

    </div>

    <button class="btn cancel-btn" (click)="onCancelEdit()">Cancel</button>
  </section>


  <div class="form-group">
    <label for="turma">Class</label>
    <input
      id="turma"
      [(ngModel)]="Turma"
      type="text"
      class="form-control"
    />
  </div>

  <button (click)="addClass()" class="btn btn-primary" >Add Class</button>
</div>
</body>
