<body>
  <div class="dashboard-menu">
    <nav>
      <h1>Admin Dashboard</h1>
      <div class="cards-container">
        <!-- Cartão para Gerenciar Professores -->
        <div class="card">
          <a routerLink="/manage-teachers" class="menu-link">
            <h2>Gererir Professores</h2>
            <p>Click here to manage teachers</p>
          </a>
        </div>
        <!-- Cartão para Gerenciar Classes -->
        <div class="card">
          <a routerLink="/manage-classes" class="menu-link">
            <h2>Gerir Aulas</h2>
            <p>Click here to manage classes</p>
          </a>
        </div>
        <!-- cartão para Ver o Dashboard -->
        <div class="card">
          <a routerLink="/candidatura" class="menu-link">
            <h2>Candidaturas</h2>
            <p>Click here to see the overall dashboard</p>
          </a>
        </div>
      </div>
    </nav>
  </div>
</body>
